[user]
	name = Denny Schäfer
	email = denny.schaefer@smaato.com
[color]
	ui = auto
[pack]
	threads = 0
[merge]
	tool = meld
[core]
	editor = vim
	excludesfile = /home/denny-schaefer/.gitignore_global
[difftool]
	prompt = false
[push]
	default = upstream
[diff]
	compactionHeuristic = true
[user]
	signingkey = E3AAC87E8644949D
[commit]
	gpgSign = true
[gpg]
	program = gpg2
